.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
}

.ft700 {
  font-weight: 700;
}

.ft800 {
  font-weight: 800;
}

.firstHead {
  padding-bottom: 2%;
  border-bottom: 5px solid black;
}

@media only screen and (max-width: 600px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2%;
  }
}